# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/autom4te.cache/output.0
/autom4te.cache/requests
/autom4te.cache/traces.0
*.gcda
*.gcno
/expect/cfgInfo_io.cpp
/expect/cfgInfo_io.h
/expect/cfgInfo_lenze.cpp
/expect/cfgInfo_lenze.h
/expect/cfgInfo_panasonic.cpp
/expect/cfgInfo_panasonic.h
/expect/cfgInfo_sanyodenki.cpp
/expect/cfgInfo_sanyodenki.h
/expect/cfgInfo_tsino.cpp
/expect/cfgInfo_tsino.h
/expect/common_mock_expect_func.cpp
/expect/common_mock_expect_func.h
/expect/mock_expect_io.cpp
/expect/mock_expect_io.h
/expect/mock_expect_slave.cpp
/expect/mock_expect_slave.h
*.png
*.css
*.html
/trace_noargs.info
/cscope.in.out
/cscope.out
/cscope.po.out
/aclocal.m4
/config.guess
/config.h.in
/config.sub
/configure
/depcomp
/install-sh
/ltmain.sh
/missing
/Makefile
/build/.deps/ut_foot_module-main.Po
/build/.deps/ut_foot_module-test_simu_plan.Po
/build/.deps/ut_foot_module-velocityprofile_trap.Po
/build/Makefile
/build/ut_foot_module
/build/ut_foot_module-main.o
/build/ut_foot_module-test_simu_plan.o
/build/ut_foot_module-velocityprofile_trap.o
/config.log
/config.status
/libtool
/stamp-h1
/build/.deps/ut_foot_module-polynomial_calc.Po
/build/.deps/ut_foot_module-test_polynomial_calc.Po
/build/.deps/ut_frame-main.Po
/build/.deps/ut_frame-polynomial_calc.Po
/build/.deps/ut_frame-test_polynomial_calc.Po
/build/.deps/ut_frame-test_simu_plan.Po
/build/.deps/ut_frame-velocityprofile_trap.Po
/build/ut_frame-main.o
/build/ut_frame-polynomial_calc.o
/build/ut_frame-test_polynomial_calc.o
/build/ut_frame-test_simu_plan.o
/build/ut_frame-velocityprofile_trap.o
/build/ut_frame
